/* .res-nav{
  background-color: rgb(239 246 255);
}

.res-main {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  background-color: rgb(239 246 255);
  z-index: 2;
} */

.con-hero {
  width: 100vw;
}

.res-hero-section {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  min-height: 700px;
}
/* .res-main {
  height: 600px;
} */

.icon {
  height: 12px;
  width: 12px;
  background-color: rgb(245, 245, 247);
  border: 1px solid #228be6;
  color: #228be6;
  padding: 8px;
  border-radius: 50%;
}
.btn-create-acc {
  height: 60px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-logo {
  opacity: 0;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  /* 1140px */
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

/* Delevery meal */
.delivered-meals {
  display: flex;
  flex-direction: column;

  gap: 24px;
  margin-top: 20px;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-right: -16px;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 18px;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* hero pic */

.hero-pic {
  position: relative;
}

.res-hero-pic {
  z-index: 2;
}

.real-time-user {
  position: absolute;
  bottom: 250px;
  left: 250px;
  z-index: 2;
}

.user-pic {
  position: absolute;
  bottom: -40px;
  right: 330px;
}
.user-pic-icon {
  position: absolute;
  bottom: 230px;
  right: 330px;
}

/* card */
.card {
  position: relative;
  padding: 20px;
  height: 180px;
  width: 200px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.delivered-imgs img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  transition: 0.5s;
  opacity: 0;
}

.card:hover img {
  width: 120px;
  height: 120px;
  left: 230%;
  opacity: 1;
}

.content {
  position: absolute;
  width: 40%;
  left: 20%;
  color: white;
  text-transform: capitalize;
  transition: 0.5s;
  opacity: 0;
}

.card:hover .content {
  opacity: 1;
  padding: 10px;
  width: 400px;
  height: 170px;
  border: 3px solid #000;
  background-color: rgb(255, 255, 255);
  color: #228be6;
}

.img-job {
  width: 100px;
  height: 100px;
}
/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  padding: 48px 0 32px 0;
}

.heading-featured-in {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 24px;
  width: auto;
  filter: brightness(0);
  opacity: 50%;
}

/* Slide */
.slider {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
.logos-slide {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 25s linear infinite;
}
.logos-slide img {
  width: 110px;
  margin: 0 25px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 1279px) {
  #header {
    width: 100vw;
  }
  .con-hero {
    width: 100vw;
  }

  .res-navs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 10px;
  }

  .res-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 10px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .res-logo-img {
    width: 186px;
    height: 60px;
  }

  .menu-logo-margin {
    margin-right: -30px;
  }
  .res-hero-section {
    width: 100vw;
    min-height: 800px;
    padding: 30px;
  }
  .res-main {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px 20px 20px;
  }

  .res-info-hero {
    margin-top: 5px;
    width: 700px;
  }

  .res-info-hero p {
    font-size: 20px;
    color: #228be6;
  }
  .res-info-hero h1 {
    font-size: 52px;
    line-height: 80px;
  }

  .start-watch {
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
  }

  .start-btn {
    width: 250px;
    height: 60px;
    font-size: 24px;
    border-radius: 10px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .watch-text p {
    font-size: 24px;
  }
  .res-img-div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    padding: 0;
  }

  .res-hero-pic {
    width: 260px;
    height: 350px;
  }

  .hero-pic {
    /* display: flex;
    align-items: center; */
  }

  .hero-pic {
    position: relative;
  }

  .real-time-user {
    position: absolute;
    top: 0px;
    /* right: 200px; */
    left: 190px;
    width: 110px;
    height: 150px;
  }

  .user-pics {
    /* position: absolute; */
    right: 300px;
  }

  .user-pic {
    position: absolute;
    top: 200px;
    right: 200px;
    width: 120px;
    height: 180px;
  }
  .user-pic-icon {
    position: absolute;
    bottom: 100px;
    right: 190px;
    width: 50px;
    height: 50px;
  }

  /**************************/
  /* FEATURED IN SECTION */
  /**************************/

  .section-featured {
    padding: 48px 0 32px 0;
  }

  .heading-featured-in {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    color: #888;
  }

  .logos {
    display: flex;
    justify-content: space-around;
  }

  .logos img {
    height: 36px;
    width: auto;
    filter: brightness(0);
    opacity: 50%;
    margin-top: 50px;
  }

  .section-feature {
    width: 375px;
  }

  /* .content {
    position: absolute;
    width: 40%;
    left: 20%;
    color: white;
    text-transform: capitalize;
    transition: 0.5s;
    opacity: 0;
  }

  .card .content {
    opacity: 1;
    padding: 20px;
    width: 1000px;
    height: 170px;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255);
    color: #228be6;
    font-size: 20px;
  }

  .section-feature {
    width: 1400px;
  }

  .logos-slide {
    display: none;
  } */

  /* card */
  .card {
    position: relative;
    padding: 20px;
    height: 180px;
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .delivered-imgs img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    transition: 0.5s;
    opacity: 0;
  }

  .card:hover img {
    width: 120px;
    height: 120px;
    left: 330%;
    opacity: 1;
  }

  .content {
    position: absolute;
    width: 40%;
    left: 20%;
    color: white;
    text-transform: capitalize;
    transition: 0.5s;
    opacity: 0;
  }

  .content p {
    font-size: 16px;
  }

  .card:hover .content {
    opacity: 1;
    padding: 20px;
    width: 600px;
    height: 170px;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255);
    color: #228be6;
  }

  .img-job {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 640px) {
  #header {
    width: 100vw;
  }
  .con-hero {
    width: 100vw;
  }

  .nav-hidden {
    display: none;
  }

  .res-navs {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .res-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 10px;
  }

  .res-logo-img {
    width: 186px;
    height: 60px;
  }

  .menu-logo {
    width: 105px;
    height: 32px;
    opacity: 1;
  }

  .menu-logo-margin {
    margin-right: -30px;
  }
  .res-hero-section {
    width: 100vw;
    height: 1000px;
    padding: 30px;
  }
  .res-main {
    flex-direction: column;
    justify-content: start;
    padding: 0 20px 20px 20px;
  }

  .res-info-hero {
    margin-top: 5px;
    width: 100%;
  }

  .res-info-hero p {
    font-size: 24px;
    color: #228be6;
  }
  .res-info-hero h1 {
    font-size: 55px;
    line-height: 60px;
  }

  .start-watch {
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
  }

  .start-btn {
    width: 250px;
    height: 60px;
    font-size: 24px;
    border-radius: 10px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .watch-text p {
    font-size: 24px;
  }
  .res-img-div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    padding: 0;
    margin-top: -250px;
  }

  .res-hero-pic {
    width: 260px;
    height: 350px;
  }

  .hero-pic {
    /* display: flex;
    align-items: center; */
  }

  .hero-pic {
    position: relative;
  }

  .real-time-user {
    position: absolute;
    top: 0px;
    /* right: 200px; */
    left: 190px;
    width: 110px;
    height: 150px;
  }

  .user-pics {
    /* position: absolute; */
    right: 300px;
  }

  .user-pic {
    position: absolute;
    top: 200px;
    right: 200px;
    width: 120px;
    height: 180px;
  }
  .user-pic-icon {
    position: absolute;
    bottom: 100px;
    right: 190px;
    width: 50px;
    height: 50px;
  }

  /**************************/
  /* FEATURED IN SECTION */
  /**************************/

  .section-featured {
    padding: 48px 0 32px 0;
  }

  .heading-featured-in {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    color: #888;
  }

  .logos {
    display: flex;
    justify-content: space-around;
  }

  .logos img {
    height: 36px;
    width: auto;
    filter: brightness(0);
    opacity: 50%;
    margin-top: 50px;
  }

  .section-feature {
    width: 375px;
  }

  /* .content {
    position: absolute;
    width: 40%;
    left: 20%;
    color: white;
    text-transform: capitalize;
    transition: 0.5s;
    opacity: 0;
  }

  .card .content {
    opacity: 1;
    padding: 20px;
    width: 1000px;
    height: 170px;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255);
    color: #228be6;
    font-size: 20px;
  }

  .section-feature {
    width: 1400px;
  }

  .logos-slide {
    display: none;
  } */

  /* .animation-hidden {
    display: none;
  } */
}

@media only screen and (max-width: 375px) {
  #header {
    width: 100vw;
  }
  .con-hero {
    width: 100vw;
  }

  .nav-hidden {
    display: none;
  }

  .res-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 10px;
  }

  .res-logo-img {
    width: 186px;
    height: 60px;
  }

  .menu-logo {
    width: 105px;
    height: 32px;
    opacity: 1;
  }

  .menu-logo-margin {
    margin-right: -30px;
  }
  .res-hero-section {
    width: 375px;
    height: 850px;
    padding: 0;
  }
  .res-main {
    flex-direction: column;
    z-index: 0;
    padding: 0 20px 20px 20px;
  }

  .res-info-hero {
    margin-top: 5px;
    width: 100%;
  }

  .res-info-hero p {
    font-size: 16px;
    color: #228be6;
  }
  .res-info-hero h1 {
    font-size: 32px;
    line-height: normal;
  }

  .start-watch {
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 10px;
  }

  .start-btn {
    width: 150px;
    height: 60px;
    font-size: 16px;
    border-radius: 10px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .watch-text p {
    font-size: 16px;
  }
  .res-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 500px;
    padding: 0;
    margin-top: -250px;
  }

  .res-hero-pic {
    width: 260px;
    height: 350px;
  }

  .hero-pic {
    /* display: flex;
    align-items: center; */
  }

  .hero-pic {
    position: relative;
  }

  .real-time-user {
    position: absolute;
    top: 0px;
    /* right: 200px; */
    left: 190px;
    width: 110px;
    height: 150px;
  }

  .user-pics {
    /* position: absolute; */
    right: 300px;
  }

  .user-pic {
    position: absolute;
<<<<<<< HEAD
    top: 200px;
    right: 200px;
=======
    top: 300px;
    right: 255px;
>>>>>>> Saint/Headers
    width: 120px;
    height: 180px;
  }
  .user-pic-icon {
    position: absolute;
<<<<<<< HEAD
    bottom: 100px;
    right: 190px;
=======
    bottom: 160px;
    right: 245px;
    left: 75px;
>>>>>>> Saint/Headers
    width: 50px;
    height: 50px;
  }

  /**************************/
  /* FEATURED IN SECTION */
  /**************************/

  .section-featured {
    padding: 48px 0 32px 0;
  }

  .heading-featured-in {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    color: #888;
  }

  .logos {
    display: flex;
    justify-content: space-around;
  }

  .logos img {
    height: 36px;
    width: auto;
    filter: brightness(0);
    opacity: 50%;
    margin-top: 50px;
  }

  .section-feature {
    width: 375px;
  }

  /* .content {
    position: absolute;
    width: 40%;
    left: 20%;
    color: white;
    text-transform: capitalize;
    transition: 0.5s;
    opacity: 0;
  }

  .card .content {
    opacity: 1;
    padding: 20px;
    width: 1000px;
    height: 170px;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255);
    color: #228be6;
    font-size: 20px;
  }

  .section-feature {
    width: 1400px;
  }

  .logos-slide {
    display: none;
  } */
}

@media only screen and (min-width: 1450px) {
  .hero-pic {
    position: relative;
  }

  .real-time-user {
    position: absolute;
    bottom: 320px;
    left: 330px;
  }

  .user-pic {
    position: absolute;
    bottom: -40px;
    right: 930px;
  }
  .user-pic-icon {
    position: absolute;
    bottom: 230px;
    right: 930px;
  }
}
