.icon {
  height: 12px;
  width: 12px;
  background-color: rgb(245, 245, 247);
  border: 1px solid #228be6;
  color: #228be6;
  padding: 8px;
  border-radius: 50%;
}

.menu-logo {
  opacity: 0;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  /* 1140px */
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

/* Delevery meal */
.delivered-meals {
  display: flex;
  flex-direction: column;

  gap: 24px;
  margin-top: 20px;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-right: -16px;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 18px;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* hero pic */
.hero-pic {
  position: relative;
}

.real-time-user {
  position: absolute;
  bottom: 320px;
  left: 330px;
}

.user-pic {
  position: absolute;
  bottom: -40px;
  right: 330px;
}
.user-pic-icon {
  position: absolute;
  bottom: 230px;
  right: 330px;
}

/* card */
.card {
  position: relative;
  padding: 20px;
  height: 180px;
  width: 200px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.delivered-imgs img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  transition: 0.5s;
  opacity: 0;
}

.card:hover img {
  width: 120px;
  height: 120px;
  left: 230%;
  opacity: 1;
}

.content {
  position: absolute;
  width: 40%;
  left: 20%;
  color: white;
  text-transform: capitalize;
  transition: 0.5s;
  opacity: 0;
}

.card:hover .content {
  opacity: 1;
  padding: 20px;
  width: 400px;
  height: 170px;
  border: 3px solid #000;
  background-color: rgb(255, 255, 255);
  color: #228be6;
}

.img-job {
  width: 100px;
  height: 100px;
}
/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  padding: 48px 0 32px 0;
}

.heading-featured-in {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 24px;
  width: auto;
  filter: brightness(0);
  opacity: 50%;
}

/* Slide */
.slider {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
.logos-slide {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 25s linear infinite;
}
.logos-slide img {
  width: 110px;
  margin: 0 25px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 375px) {
  #header {
    width: 1440px;
  }
  .con-hero {
    width: 1440px;
  }

  .nav-hidden {
    display: none;
  }

  .res-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 20px;
  }

  .res-logo-img {
    width: 500px;
    height: 150px;
  }

  .menu-logo {
    width: 400px;
    height: 120px;
    opacity: 1;
  }

  .menu-logo-margin {
    margin-right: -100px;
  }
  .res-hero-section {
    width: 1440px;
    height: 2000px;
  }
  .res-main {
    flex-direction: column;

    padding: 20px;
  }

  .res-info-hero {
    margin-top: 5px;
    width: 100%;
    padding: 0 0 0 50px;
  }

  .res-info-hero p {
    font-size: 50px;
  }
  .res-info-hero h1 {
    font-size: 150px;
  }

  .start-watch {
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 100px;
  }

  .start-btn {
    width: 600px;
    height: 150px;
    font-size: 60px;
  }

  .icon {
    width: 100px;
    height: 100px;
  }

  .watch-text p {
    font-size: 60px;
  }
  .res-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 1000px;
    padding: 0;
    margin-top: -300px;
  }

  .res-hero-pic img {
    width: 500px;
    height: 200px;
  }

  .hero-pic {
    display: flex;
    align-items: center;
  }

  .res-animation {
    opacity: 0;
  }

  /**************************/
  /* FEATURED IN SECTION */
  /**************************/

  .section-featured {
    padding: 48px 0 32px 0;
  }

  .heading-featured-in {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
    color: #888;
  }

  .logos {
    display: flex;
    justify-content: space-around;
  }

  .logos img {
    height: 36px;
    width: auto;
    filter: brightness(0);
    opacity: 50%;
    margin-top: 50px;
  }

  /* .content {
    position: absolute;
    width: 40%;
    left: 20%;
    color: white;
    text-transform: capitalize;
    transition: 0.5s;
    opacity: 0;
  }

  .card .content {
    opacity: 1;
    padding: 20px;
    width: 1000px;
    height: 170px;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255);
    color: #228be6;
    font-size: 20px;
  }

  .section-feature {
    width: 1400px;
  }

  .logos-slide {
    display: none;
  } */
}
